{% extends "layout.html" %}
{% from "_seo.html" import metadata %}

{% block title %}Blog{% endblock %}

{% block meta %}
{{ metadata(
  "Blog",
  "Articles by Gabriele Mastrapasqua about open source, local AI, cloud, and software engineering.",
  "https://gabrielemastrapasqua.com/blog/",
  "https://gabrielemastrapasqua.com/static/qwen-tts-cover.png",
  "Articles about open source, local AI, cloud, and software engineering"
) }}
{% endblock %}

{% block content %}
<nav>
  <h1>Blog posts <a class="rss" href="/feed.xml" target="_blank" title="RSS feed"><i class="fas fa-rss"></i></a>
     

  </h1>

  <dl class="posts-list">
  {% for post in posts if not post.get('hidden') %}
    <a href="/blog/{{post.stem}}/">
      <dt>{{post.title}}</dt>
      <dd>
        <time>{{post['date'].strftime('%B %d, %Y')}}</time>
      </dd>
    </a>
  {% endfor %}
  </dl>
</nav>
{% endblock %}
