{% extends "layout.html" %}
{% from "_seo.html" import metadata %}

{% block title %}{{post.title}}{% endblock %}

{% block meta %}
{{ metadata(
  post.title,
  post.description,
  "https://gabrielemastrapasqua.com/blog/" ~ post.stem ~ "/",
  post.social_image,
  post.social_image_alt,
  "article"
) }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ post.title|tojson }},
  "description": {{ post.description|default('', true)|tojson }},
  "image": {{ post.social_image|tojson }},
  "datePublished": "{{ post.date.isoformat() }}",
  "dateModified": "{{ post.lastmod.isoformat() }}",
  "author": {
    "@type": "Person",
    "name": "Gabriele Mastrapasqua",
    "url": "https://gabrielemastrapasqua.com/"
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://gabrielemastrapasqua.com/blog/{{ post.stem }}/"
  }
}
</script>
{% endblock %}

{% block content %}
<article>
  <aside class="timestamp">
    <time datetime="{{ post.date.isoformat() }}">Posted by Gabriele on {{post['date'].strftime('%B %e, %Y')}}</time>
    · <a href="/blog/">view all posts</a>
  </aside>
  <h1>{{post.title}}</h1>
  <content>
    {{content}}
  </content>

  {% if not post.sponsor %}
  <aside class="support-me">
    👋 Hey, if you found this article useful I would love to <a href="mailto:gabriele.mastrapasqua@gmail.com">hear from you</a>.

  </aside>
  {% endif %}
</article>
{% endblock %}
