{% extends "layout.html" %}

{% block title %}{{post.title}}{% endblock %}

{% block meta %}
<link rel="canonical" href="https://gabrielemastrapasqua.com/blog/{{post.stem}}/">
<meta property="og:type" content="article">
<meta property="og:title" content="{{post.title|e}} - Gabriele Mastrapasqua">
<meta property="twitter:title" content="{{post.title|e}} - Gabriele Mastrapasqua">

{% if post.description %}
<meta name="description" content="{{post.description|e}}">
<meta property="og:description" content="{{post.description|e}}">
<meta property="twitter:description" content="{{post.description|e}}">
{% endif %}

{% if post.preview_image %}
<meta property="og:image" content="https://gabrielemastrapasqua.com/{{post.stem}}/{{post.preview_image}}">
<meta property="twitter:image" content="https://gabrielemastrapasqua.com/{{post.stem}}/{{post.preview_image}}">
{% endif %}

{% if post.preview_image_alt %}
<meta name="twitter:image:alt" content="{{post.preview_image_alt}}">
{% endif %}

<meta property="og:url" content="https://gabrielemastrapasqua.com/blog/{{post.stem}}/">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@theavalkyrie">
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ post.title|tojson }},
  "description": {{ post.description|default('', true)|tojson }},
  "datePublished": "{{ post.date.isoformat() }}",
  "dateModified": "{{ post.lastmod.isoformat() }}",
  "author": {
    "@type": "Person",
    "name": "Gabriele Mastrapasqua",
    "url": "https://gabrielemastrapasqua.com/"
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://gabrielemastrapasqua.com/blog/{{ post.stem }}/"
  }
}
</script>
{% endblock %}

{% block content %}
<article>
  <aside class="timestamp">
    <time datetime="{{ post.date.isoformat() }}">Posted by Gabriele on {{post['date'].strftime('%B %e, %Y')}}</time>
    · <a href="/blog/">view all posts</a>
  </aside>
  <h1>{{post.title}}</h1>
  <content>
    {{content}}
  </content>

  {% if not post.sponsor %}
  <aside class="support-me">
    👋 Hey, if you found this article useful I would love to <a href="mailto:gabriele.mastrapasqua@gmail.com">hear from you</a>.

  </aside>
  {% endif %}
</article>
{% endblock %}
