{% extends "layout.html" %}

{% block title %}{{post.title}}{% endblock %}

{% block meta %}
<meta property="og:title" content="{{post.title}} - Thea Flowers">
<meta property="twitter:title" content="{{post.title}} - Thea Flowers">

{% if post.description %}
<meta property="og:description" content="{{post.description}}">
<meta property="twitter:description" content="{{post.description}}">
{% endif %}

{% if post.preview_image %}
<meta property="og:image" content="https://gabrielemastrapasqua.com/{{post.stem}}/{{post.preview_image}}">
<meta property="twitter:image" content="https://gabrielemastrapasqua.com/{{post.stem}}/{{post.preview_image}}">
{% endif %}

{% if post.preview_image_alt %}
<meta name="twitter:image:alt" content="{{post.preview_image_alt}}">
{% endif %}

<meta property="og:url" content="https://gabrielemastrapasqua.com/blog/{{post.stem}}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@theavalkyrie">
{% endblock %}

{% block content %}
<article>
  <aside class="timestamp">
    <time>Posted by Gabriele on {{post['date'].strftime('%B %e, %Y')}}</time>
    · <a href="/blog">view all posts</a>
  </aside>
  <h1>{{post.title}}</h1>
  <content>
    {{content}}
  </content>

  {% if not post.sponsor %}
  <aside class="support-me">
    👋 Hey, if you found this article useful I would love to <a href="mailto:info@gabrielemastrapasqua.com">hear from you</a>.

  </aside>
  {% endif %}
</article>
{% endblock %}
