{% macro metadata(title, description, url, image, image_alt, type='website') -%}
<link rel="canonical" href="{{ url }}">
<meta name="description" content="{{ description|e }}">

<meta property="og:type" content="{{ type }}">
<meta property="og:site_name" content="Gabriele Mastrapasqua">
<meta property="og:locale" content="en_US">
<meta property="og:url" content="{{ url }}">
<meta property="og:title" content="{{ title|e }} - Gabriele Mastrapasqua">
<meta property="og:description" content="{{ description|e }}">
<meta property="og:image" content="{{ image }}">
<meta property="og:image:alt" content="{{ image_alt|e }}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ title|e }} - Gabriele Mastrapasqua">
<meta name="twitter:description" content="{{ description|e }}">
<meta name="twitter:image" content="{{ image }}">
<meta name="twitter:image:alt" content="{{ image_alt|e }}">
{%- endmacro %}
